* {
  font-family: 'Pokemon Solid';
  font-weight: lighter;
  font-size: 100%;
  letter-spacing: 1.75px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.disabled {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}


.container :hover .image {
  opacity: 0.3;
}

.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.app-container {
  position: fixed;
  width: 99%;
  height: 99%;
}

.review-card {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 1rem 1rem;
  font-family: 'Pokemon Solid';
}

.review-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
  font-family: 'Pokemon Solid';
  list-style-type: none;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgba(59, 59, 59, 0.772);
  pointer-events: none;
}

.major-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 1rem 1rem;
  font-family: 'Pokemon Solid';
  font-size: 1.75rem;
}

.minor-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 1rem 1rem;
  font-family: 'Pokemon Solid';
  font-size: 0.75rem;
}